/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.input {
  width: 30%;
  height: 50%;
  padding: 0 10px;
  resize: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* form input styles */
.form input, textarea {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.5em;
  margin-top: 10px;
}

.form button {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.5em;
  background-color: #ccc;
  cursor: pointer;
}

.notes {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-left: 1px solid #000;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  /* wrap text */
  word-wrap: break-word;
}

.note span {
  position: absolute;
  bottom: 5px;
  right: 25px;
  font-size: 0.6em;
  color: gray;
}

.note:nth-of-type(odd) {
  background-color: #ffe0c1;
}

.note:nth-of-type(even) {
  background-color: #abf3fa;
}

.buttons {
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}